.App {
    text-align: center;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

button {
    // box-sizing: border-box;
    // flex-shrink: 0;
    // width: min-content; /* 134px */
    height: 40px;
    margin: 0 1vmin;
    padding: 15px 15px 15px 15px;
    // box-shadow: 0px 0.7079948583634852px 0.7079948583634852px -0.625px rgba(0, 0, 0, 0.15),
    //     0px 1.8096906216668867px 1.8096906216668867px -1.25px rgba(0, 0, 0, 0.14397),
    //     0px 3.6205156475884093px 3.6205156475884093px -1.875px rgba(0, 0, 0, 0.13793),
    //     0px 6.870631714892718px 6.870631714892718px -2.5px rgba(0, 0, 0, 0.1271),
    //     0px 13.644368889910274px 13.644368889910274px -3.125px rgba(0, 0, 0, 0.10452),
    //     0px 30px 30px -3.75px rgba(0, 0, 0, 0.05);
    background-color: black;
    overflow: visible;
    position: relative;
    align-content: center;
    flex-wrap: nowrap;
    // gap: 10;
    // border-radius: 8px;
    /* button text */
    /* flex-shrink: 0; */
    width: auto; /* 104px */
    height: auto; /* 17px */
    // white-space: pre;/
    // position: relative;
    font-weight: 600;
    font-style: normal;
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: calc(7px + 1vmin);
    letter-spacing: 0px;
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid black;
}

.LoginButton {
    border: none;
    // font-family: "Titillium Web";
    font-style: normal;
    font-weight: 600;
    font-size: calc(7px + 1vmin);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 11px 15px;
    cursor: pointer;
    color: #ffffff;
    background: linear-gradient(
        59.29deg,
        #5c1dcb 0.02%,
        #584bcf 21.13%,
        #509ad5 59.37%,
        #4cccd9 86.59%,
        #4adfda 100%
    );
}

.Navbar {
    display: flex;
    padding: 5px 30px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    font-size: calc(8px + 1vmin);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 24px 24px 24px;
    background-color: #ffffff;
    align-content: center;
    flex-wrap: nowrap;
    gap: 24;
    border-radius: 0px 0px 0px 0px;
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    .Logo {
        // text-decoration: underline;
        display: flex;
        flex: 1 0 0px;
        margin: 0 1vmin;
        font-size: calc(8px + 2vmin);
        overflow: visible;
        flex-wrap: nowrap;
        h3 {
            cursor: pointer;
        }
    }
    .Container {
        display: flex;
    }
    .NavOptions {
        margin: auto 10px;
        display: flex;
        justify-content: space-between;
        .Option {
            flex: 1;
            padding: 5px 10px;
            border-bottom: 1px solid transparent;
            &:hover {
                cursor: pointer;
                // background-color: rgba($color: #2d2d2d, $alpha: 1);
                // color: white;
                border-color: black;
            }
        }
    }
    .UserAddress {
        background-color: black;
        color: white;
        padding: 10px 20px;
        // border-radius: 5px;
        font-weight: 300;
    }
    .UserBalance {
        background-color: rgb(246, 246, 246);
        color: black;
        padding: 10px 20px;
        // border-radius: 5px;
        margin-right: 5px;
    }
    .LogOutButton {
        padding: 10px 20px;
        // border-radius: 5px;
        border: 1px solid black;
        margin-left: 20px;
        cursor: pointer;
    }
}

.FileList {
    box-sizing: border-box;
    flex-shrink: 0;

    // height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0.796841278193901px 2.3905238345817033px -0.625px rgba(0, 0, 0, 0.05),
        0px 2.413677098392273px 7.2410312951768185px -1.25px rgba(0, 0, 0, 0.05),
        0px 6.3802836426702925px 19.140850928010877px -1.875px rgba(0, 0, 0, 0.05),
        0px 20px 60px -2.5px rgba(185, 185, 185, 0.05);
    background-color: #ffffff;
    position: relative;
    align-content: center;
    // border-radius: 10px;
    margin: 0 50px;

    .FirstRow {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        background-color: #000000;
        // border-radius: 10px;
        color: white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        .Entry {
            flex: 1;
        }
    }

    .Row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid #ededed;
        text-align: center;
        height: 50px;
        vertical-align: middle;

        .Entry {
            flex: 1;
            .Value {
                padding-top: 10px;
            }
            img {
                width: 50px;
                height: 50px;
                margin-top: -13px;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
    .FileLink {
        font-weight: 600;
        cursor: pointer;
    }
}

.FeedList {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    .FeedListCard {
        margin: 20px;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 30px 30px 30px;
        box-shadow: 0px 0.796841278193901px 2.3905238345817033px -0.625px rgba(0, 0, 0, 0.05),
            0px 2.413677098392273px 7.2410312951768185px -1.25px rgba(0, 0, 0, 0.05),
            0px 6.3802836426702925px 19.140850928010877px -1.875px rgba(0, 0, 0, 0.05),
            0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 30;
        // border-radius: 20px;
        padding: 40px;
        .Title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            div {
                padding-left: 10px;
            }
            img {
                width: 50px;
                height: 50px;
                // padding-right: 10px;
            }
            .Info {
                flex: 1;
                text-align: left;

                .Name {
                    font-weight: 800;
                    padding: 2px;
                }
                .CID {
                    color: gray;
                }
            }
            padding-bottom: 30px;
        }

        .Entry {
            width: 100%;
            display: flex;
            font-weight: 400;
            color: rgb(28, 28, 28);
            padding: 3px;
            .Label {
                font-weight: 600;
                padding-right: 5px;
            }
        }
        button {
            margin-top: 30px;
            width: 200px;
        }
    }
}

.DragAndDrop {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0.796841278193901px 2.3905238345817033px -0.625px rgba(0, 0, 0, 0.05),
        0px 2.413677098392273px 7.2410312951768185px -1.25px rgba(0, 0, 0, 0.05),
        0px 6.3802836426702925px 19.140850928010877px -1.875px rgba(0, 0, 0, 0.05),
        0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    position: relative;
    align-content: center;
    // border-radius: 20px;
    padding: 80px 0px;

    img {
        width: 80px;
        height: 80px;
    }
    button {
        margin-top: 50px;
    }
    .Entry {
        width: 80%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        .Label {
            font-weight: 600;
            flex: 1;
            text-align: left;
        }
        .Value {
            flex: 1;
            display: flex;
            justify-content: space-between;

            .Selected {
                text-align: center;
                width: 100px;
            }
            .slidecontainer input {
                width: 60px;
            }
            img {
                height: 100%;
            }
        }
    }
}

.Page {
    width: 1400px;
    margin: 0 auto;
}

.HomeContainer {
    .Moto {
        display: flex;
        flex-shrink: 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        overflow: visible;
        font-weight: 500;
        font-style: normal;
        font-family: "Inter", sans-serif;
        color: #888888;
        font-size: calc(10px + 1.8vmin);
        letter-spacing: -0.5px;
        line-height: 1.5;
        margin: 30px auto;
        // margin-top: -2%;
        margin-top: 0;
        padding: 200px;
        // padding-bottom: 50px;
        .Title {
            flex-shrink: 0;
            width: auto; /* 202px */
            height: auto; /* 60px */
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-word;
            max-width: 100%;
            position: relative;
            font-weight: 700;
            font-style: normal;
            font-family: "Inter", sans-serif;
            color: #333333;
            font-size: 50px;
            letter-spacing: -2.6px;
            line-height: 1.2;
            text-align: center;
            color: white;
            text-align: left;
            font-size: 80px;
            width: 100%;
            margin: 0;
        }

        .SubTitleContainer {
            width: 100%;
            display: flex;
            .SubTitle {
                flex-shrink: 0;
                // width: 390px;
                height: auto; /* 72px */
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: break-word;
                // overflow: visible;
                // position: relative;
                font-weight: 500;
                font-style: normal;
                // font-family: "Inter";
                color: #888888;
                font-size: 24px;
                // letter-spacing: -0.5px;
                line-height: 1.5;
                text-align: center;
                color: white;
                background-color: black;
                font-family: "Fira Sans";
                font-style: normal;
                font-weight: 300;
                // font-size: calc(20px + 5vmin);
                // width: fit-content;
                padding: 1px 5px;
                text-align: left;
                // width: 65%;
                margin: 0;
            }
        }

        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: uppercase;
        text-align: left;
        // margin-bottom: -2%;
        color: #ffffff;
        background: linear-gradient(180deg, #5c1dcf 0%, #4ae3de 100%);
        // position: absolute;
    }
}

.Home {
    .LoggedInMessage {
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 200px;
        margin: 0 auto;
        font-size: 20px;
        .Link {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .FeedListContainer {
        padding-top: 0px;
        .PromoText {
            flex-shrink: 0;
            width: auto; /* 482px */
            height: auto; /* 58px */
            white-space: pre;
            position: relative;
            font-weight: 600;
            font-style: normal;
            font-family: "Inter", sans-serif;
            color: #777777;
            font-size: 48px;
            letter-spacing: 0px;
            line-height: 1.2;
            text-align: center;
            font-weight: 400;
        }
    }

    .FixedContainer {
        height: 100px;
    }
}

.User {
    margin-top: 75px;
    .Container {
        display: flex;
        justify-content: space-between;
        .DragAndDrop {
            margin: 0px 100px;
        }
        .FileList {
            flex: 2;
        }
    }
}

.FileListContainer {
    width: 100%;
    text-align: left;
}

.File {
    .MainFileCard {
        margin: 20px;
        box-sizing: border-box;
        flex-shrink: 0;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 30px 30px 30px;
        box-shadow: 0px 0.796841278193901px 2.3905238345817033px -0.625px rgba(0, 0, 0, 0.05),
            0px 2.413677098392273px 7.2410312951768185px -1.25px rgba(0, 0, 0, 0.05),
            0px 6.3802836426702925px 19.140850928010877px -1.875px rgba(0, 0, 0, 0.05),
            0px 20px 60px -2.5px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        position: relative;
        align-content: center;
        flex-wrap: nowrap;
        gap: 30;
        // border-radius: 20px;
        padding: 40px;
        .Title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            img {
                width: 50px;
                height: 50px;
                padding-right: 10px;
            }
            .Info {
                flex: 1;
                text-align: left;
                .Name {
                    font-weight: 800;
                    padding: 2px;
                }
                .CID {
                    color: gray;
                }
            }
            padding-bottom: 30px;
        }

        .Container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .Info {
            }
        }

        .Entry {
            width: 100%;
            display: flex;
            font-weight: 400;
            color: rgb(28, 28, 28);
            padding: 3px;
            .Label {
                font-weight: 600;
                padding-right: 5px;
            }
        }

        .Donation {
            margin-top: 40px;
            display: flex;
            align-content: right;
            margin-right: 0;
            .Entry {
                padding-top: 15px;
                .Value {
                    display: flex;
                }
                .Selected {
                    width: 80px;
                    font-size: 22px;
                    margin-top: -4px;
                    text-align: center;
                }
            }
            button {
                width: 200px;
                margin-left: 5px;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="range"] {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: black;
        // border-radius: 2px;
        border: 1px solid black;
        cursor: pointer;
    }
    input[type="range"]::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: white;
        margin-top: -1px;
        // border-radius: 2px;
    }
    input[type="range"]::-webkit-slider-thumb {
        width: 15px;
        -webkit-appearance: none;
        height: 15px;
        cursor: ew-resize;
        background: white;
        color: white;
        // border-radius: 2px;
    }
}
